<aside id="s-main-menu" class="sidebar">
    <div class="smm-header">
        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
    </div>

    <ul class="main-menu">
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-list"></i>예약관리</a>
            <ul>
                <li><a href="/order/list" >예약조회</a></li>
                <li><a href="/order/naver/list" >네이버 예약조회</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-home"></i>업체관리</a>

            <ul>
                <li><a href="/biz/list?page_no=1">업체 목록</a></li>
                <li><a href="/biz/naver/list">네이버 업체 목록</a></li>
               <!--  <li><a href="biz_insert">업체 등록</a></li> -->
                <li><a href="/biz/insert">업체 등록</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-widgets"></i>상품관리</a>

            <ul>
                <li><a href="/product/list">상품 목록</a></li>
                <li><a href="/product/naver/list">네이버 상품 목록</a></li>
                <li><a href="/product/insert">상품 등록</a></li>
                <li><a href="/product/naver/insert">네이버 상품 등록</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin" ><i class="zmdi zmdi-collection-text"></i>챗봇관리</a>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-account"></i>사용자관리</a>

            <ul>
                <li><a href="/member?page_no=1">사용자 목록</a></li>
                <li><a href="/member/insert">사용자 등록</a></li>
            </ul>
        </li>

        <li>
            <a href="/profile"><i class="zmdi zmdi-collection-item"></i>프로필</a>
        </li>

    </ul>
</aside>
