<nav class="pagination-container" style="text-align: center; padding-bottom: 30px;">
                            
    {% if page_no|int != 1 %}
        <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>	
    {% endif %}	

    {% for i in range(pgn) %}	 
        {% if i+1 == page_no|int %}
            <a href="{{ info }}?page_no={{ i+1 }}">{{ i+1 }}</a>
        {% else %}
            <a href="{{ info }}?page_no={{ i+1 }}" style="color: #333;">{{ i+1 }}</a>
        {% endif %}
    {% endfor %}

    {% if page_no|int != pgn %}
        <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>
    {% endif %}	

</nav>
<script>
    $("#prev-button").on("click", function(){
        location.href = "{{ info }}?page_no={{ page_no|int -1 }}"
    })
    $("#next-button").on("click", function(){
        location.href = "{{ info }}?page_no={{ page_no|int +1 }}"
    })
</script>